<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app" v-cloak>
        <h1>La mia TODO list</h1>
        <ul>

            <li v-if="todo[0].done = false">{{todo[0].text}}</li>
            <li v-else="todo[0].done = true" >
                <p class="barra">{{todo[0].text}}</p>
            </li>

            <li v-if="todo[1].done = false">{{todo[1].text}}</li>
            <li v-else="todo[1].done = true" >
                <p class="barra">{{todo[1].text}}</p>
            </li>

            <li v-if="todo[2].done = false">{{todo[2].text}}</li>
            <li v-else="todo[2].done = true" >
                <p class="barra">{{todo[2].text}}</p>
            </li>
            
        </ul>
    </div>



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/main.js"></script>
</body>

</html>